<!DOCTYPE html>
<html>
<head>
    <title>Anonymous Email Sender</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Send an Email</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form }}  <!-- Отображает форму, включая все поля и их ошибки -->
        <button type="submit" class="btn btn-primary form-control">Send</button>
    </form>
</body>
</html>
